/* HEADER */

#header {
  display: flex;
  height: 8.6vh;
  width: 100%;
  background-color: #519872;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px;
  margin-right: 15px;
}

.logo-text {
  color: white;
}
/* --------------------------------- */

/* DASHBOARD */
#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #AFD4C0;
}

#dashboard-center {
  height: 80vh;
  width: 60%;
  padding: 0px;
  background-color: #E5F4EC;
}
/* --------------------------------- */

/* HOUSE */
#dashboard-title {
  font-size: 40px;
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 0px;
}

#dashboard-button {
  height: 40px;
  width: 200px;
  margin-top: 17px;
  margin-left: 190px;
  font-size: 20px;
  font-weight: 700;
  background-color: #8AEA92;
  border: 1px;
}

.dashboard-center-top {
  display: flex;
  margin-left: 10px;
  height: 10vh;
  width: 600px;
  border-bottom: 1px black solid;

}

.dashboard-center-bottom {
  margin-left: 23.5px;
}
/* --------------------------------- */
