#dashboard {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #AFD4C0;
}

#header {
  display: flex;
  height: 8.6vh;
  width: 100%;
  background-color: #519872;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px;
  margin-right: 15px;
}

.logo-text {
  color: white;
}